<rule>
  <name>GuidedRuleTemplateExample</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>ageLessThan</value>
            <operator>&lt;</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>RequestPojo</factType>
            <fieldName>unMarriedChildrenAge</fieldName>
            <fieldType>Integer</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>creditsGreaterThanOrEqualTo</value>
            <operator>&gt;=</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>RequestPojo</factType>
            <fieldName>credits</fieldName>
            <fieldType>Integer</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>maritalStatus</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>RequestPojo</factType>
            <fieldName>maritalStatus</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>RequestPojo</factType>
      <boundName>request</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <modify>
      <fieldValues>
        <fieldValue>
          <field>benefits</field>
          <value>benefits</value>
          <nature>7</nature>
          <type>Integer</type>
        </fieldValue>
      </fieldValues>
      <variable>request</variable>
    </modify>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.nobleprog.jbpm</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>benefits</string>
      <list>
        <string>300</string>
        <string>500</string>
        <string>400</string>
        <string>500</string>
        <string>400</string>
        <string>600</string>
        <string>350</string>
      </list>
    </entry>
    <entry>
      <string>creditsGreaterThanOrEqualTo</string>
      <list>
        <string>40</string>
        <string>30</string>
        <string>35</string>
        <string>35</string>
        <string>25</string>
        <string>40</string>
        <string>35</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>3</string>
        <string>2</string>
        <string>4</string>
        <string>5</string>
        <string>6</string>
        <string>9</string>
        <string>7</string>
      </list>
    </entry>
    <entry>
      <string>ageLessThan</string>
      <list>
        <string>19</string>
        <string>18</string>
        <string>22</string>
        <string>22</string>
        <string>18</string>
        <string>19</string>
        <string>19</string>
      </list>
    </entry>
    <entry>
      <string>maritalStatus</string>
      <list>
        <string>Married</string>
        <string>Single</string>
        <string>Single</string>
        <string>Married</string>
        <string>Single</string>
        <string>Single</string>
        <string>Divorced</string>
      </list>
    </entry>
  </table>
  <idCol>9</idCol>
  <rowsCount>7</rowsCount>
</rule>